.adddoc{
    color: white;
}
.doc{
    color: white;
    font-size: 19px;
    margin-left: 5px;
}
.book{
    font-size: 20px;
}
.css-1iefaka-MuiTableCell-root.MuiTableCell-head{
    background-color: #cccccc93;
    color: black;
    font-weight: bold;
}
.css-17e8nb1-MuiTableRow-root{
background-color: white;
border-bottom: 1px solid #eeecec;
}
.css-17e8nb1-MuiTableRow-root:nth-of-type(odd){
    background-color: white;
}
.edit{
    color: rgb(255, 153, 0);
    font-weight: bold;
    font-size: 18px;
}
.delete{
    color: red;
    font-size: 16px;
    margin: 0 9px;

}
.css-1wnsr1i{
    border: none;
    border-radius: 10px;
}
.modaltext{
    font-size: 16px;
    font-weight: bold;
}
.modalicon{
    font-size: 19px;
}
.save{
    font-size: 16px;
    margin-left: 5px;

}